body {
	background-color: #1340b7;
}

.exit {
	position: absolute;
	right: 5%;
	top: 11%;
	z-index: 6;
}

img {
	height: auto;
	width: auto;
	max-width: 100%;
}

.parallax__group.casetwo {
	height: 353vh !important;
}

p.blurb-detail {
	width: 70%;
}

.case {
	max-width: 100%;
}

.case-wrapper p {
	margin: 0;
	font-size: 0.8em;
}

p.case-header {
	font-size: 1em;
}

.flex.column.case {
	height: 35vh;
}

.case-blurb {
	-ms-flex-item-align: center;
	    align-self: center;
}

.case-wrapper {
	margin: 1em auto;
}

.case-detail p {
	font-size: 0.813em;
	margin: 3em auto;
}

.case-link {
	color: #f5675a;
}

@media all and (min-width: 1360px) {
	.case_img {
		height: 72vh;
		/* At Browser Size 1366px */
	}
	.case-detail {
		margin-top: 3em;
	}
}

@media all and (max-width: 1060px) {
	.flex.grid {
		margin: 5%;
		margin-right: 4%;
	}
	p.blurb-detail {
		width: 88%;
	}
}

@media all and (max-width: 885px) {
	#group3 {
		height: 275vh;
	}
}

@media all and (max-width: 810px) {
	.flex.grid {
		margin: 6%;
		margin-right: 5%;
		margin-left: 7%;
	}
	.flex.column.case {
		height: 31vh;
		margin-bottom: 4em;
	}
	#group3 {
		height: 230vh;
	}
	.case_img {
		height: 36vh;
	}
	.parallax__group.casetwo {
		height: 218vh !important;
	}
}

@media all and (max-width: 585px) {
	.parallax {
		font-size: 153%;
	}
	.case_img {
		height: 28vh;
	}
}

@media all and (max-width: 450px) {
	.case_img {
		height: 85vh;
	}
	.flex.column.case {
		height: 31vh;
		margin-bottom: 1em;
	}
	.flex.row.case {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
	.parallax__group.casetwo {
		height: 310vh !important;
	}
}