@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
	margin: 0;
	background-color: #111;
	color: white;
	font-family: Inconsolata, sans-serif;
	height: 100vh;
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: white;
}

*:after {
	clear: both;
}

.navbar {
	width: 100%;
	display: inline-block;
	position: fixed;
	top: 0;
}

.navbar::after {
	clear: both;
}

.navwrapper {
	max-width: 80%;
	margin: 0 auto;
	padding: 25px 0;
}

.logo {
	float: left;
}

.logo a {
	font-size: 24px;
	letter-spacing: 2px;
}

.navbar nav {
	float: right;
}

.navbar nav ul {
	list-style: none;
}

.navbar nav ul li {
	display: inline-block;
	font-weight: bold;
	font-size: 1.1em;
}

.navbar nav ul li a {
	margin-right: 30px;
	font-family: 'Inconsolata', sans-serif;
}

.summary {
	font-size: 50px;
	position: fixed;
	top: 250px;
	padding: 0 70px 0 190px;
	width: 50%;
}

.wrap {
	position: relative;
	left: 70%;
	z-index: 50;
	top: 18%;
}

.wrap div {
	display: table-cell;
	vertical-align: bottom;
}

.wrap div img {
	margin: 0 200px;
}

.wrap div img:first-child {
	margin-left: 0;
}

.contact-block {
	height: 300px;
	width: 300px;
	z-index: 9999;
	background-color: #21E360;
	position: fixed;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	padding: 180px 30px 20px 30px;
	font-size: 25px;
}

.is-hidden {
	display: none;
}

.contactheader {
	transform: rotate(90deg);
	position: relative;
	top: -180px;
	left: 120px;
	font-size: 30px;
	color: black;
}

.contact-block a {
	text-decoration: underline;
}

@MEDIA ( max-width :1024px) {
	.summary {
		padding-left: 100px;
	}
}

@media ( max-width : 550px) {
	.summary {
		padding-left: 55px;
		font-size: 40px;
	}
}